.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #131e53;
  min-width: 300px;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  text-shadow: 1px 1px 5px rgb(36, 36, 92);
}

.col {
  display: flex;
  flex-direction: column;
  padding: 3rem 28%;
  max-width: 1200px;
}

.loginText {
  color: white;
}

.loginText h3 {
  font-size: 32px;
  font-weight: 900;

  margin: 0;
}

.loginText h6 {
  font-size: 18px;
  margin: 0;
  color: grey;
  padding-top: 1rem;
  /* opacity: 0.8; */
}

.form {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2rem 0;
}

.label {
  font-size: 18px;
  padding: 0.5rem 0 0 0;
}

.input {
  background-color: #202a5c;
  height: 25px;
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 5px;
  margin: 1rem 0;
  font-size: 18px;
  color: white;
}

.input::placeholder {
  color: white;
}

.loginButton {
  margin-top: 1rem;
  color: white;

  padding: 0.8rem 0;
  /* border-radius: 5px; */
  cursor: pointer;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 2px;
  background: linear-gradient(270deg, #3825b7 0%, #091849 100%);
  border: none;
  box-shadow: 0px 0px 15px rgba(36, 31, 31, 0.6);
}

@media only screen and (max-width: 1000px) {
  .col {
    padding: 3rem 5%;
  }

  .header {
    padding: 1.5rem 1rem;
  }
}

.ldsRing {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}
.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.ldsRing div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  background-color: #453134;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  border: 1px solid rgb(201, 40, 40);
}
